{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}</p>
  {% else %}
  <p>Unable to authenticate</p>
  {% endif %}
  <script>
    // TODO: persist the token from the social auth provider
    window.opener.postMessage({foo: "bar", answer: 42}, "http://127.0.0.1:3000")
    {% comment %} window.close(); {% endcomment %}
  </script>
</body>
</html>